.testimonials {
  background: right bottom -131px no-repeat url(../images/testimonials-flower.png);
  margin-top: 140px;
  padding-bottom: 179px;
  &__title {
    margin-bottom: 47px;
    text-align: center;
    @include font-setting(36px, 400, 46px);
  }

  &__block {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__card {
    max-width: 266px;
    padding: 15px 14px 19px 16px;
    background-color: $color-gray-light;
    border: 2px solid #f3a9f8;
    border-radius: 20px;
    // border-image-slice: 1;
    // border-image-source: linear-gradient(
    //   to left,
    //   #febdab 74%,
    //   #f3a9f8 66%,
    //   #e0d8f0 100%,
    //   #eaf7fe 100%,
    //   #eaf7fe 100%
    // );
  }

  &__profile {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__name {
    @include font-setting(16px, 400, 19px);
    color: $color-text;
  }

  &__location {
    @include font-setting(15px, 300, 18px);

    color: #bdbdbd;
  }

  &__text {
    @include font-setting(15px, 300, 18px);
    color: $color-gray;
  }

  &__range {
    margin: 13px auto 0 auto;
    max-width: 599px;
    input {
      width: 100%;
      //   appearance: none;
      //   outline: none;
      overflow: hidden;
      height: 8px;
      padding: 1px 0;
    }
  }

  &__button {
    margin-top: 28px;
  }
}

input[type="range"]::-webkit-slider-thumb {
  background: red;
  width: 100px;
  height: 3px;
}

// input[type="range"]::-webkit-slider-runnable-track {
// }
